#b1 {
  margin-left: .345rem;
  background-color: #151315;
}

.first,.nav {

  background-color: #21263f;
  color: #f1f2f8;
}

.one {
  text-shadow: 10ch;
  text-align: center;
}

.btn {
  margin-left: 40%;
}

.btnn {
  color: #f1f2f8;
}

.btn1 {
  background-color: #090809;
  color: #f1f2f8;
}

.table {
  margin-left: 17%;
  width: 70%;
}

#b2 {
  margin-left: 50%;
  background-color: #171417;
  color: #f1f2f8;
}

.main-img {
  margin-left: 5%;
}

.container,.droptext {
  display: flex;
  justify-content: space-between;
}

/* book cheap flights */
.drop{
  margin-right: 80%;
}
.div1 {
  width: 33%;
  height: 100px;
  border: 2px solid #030303;
}

/* .div11 {
  width: 50%;
  height: auto;
  margin-right: 20px;
  
}

.div12 {
  width: 50%;
  height: auto;
} */


h2{
  margin-left: 40%;
}

h3,#p1 {
  margin-left: 7%;
}

/* book flights text */
.p2{
  margin-left: 8%;
}
.im1 {
  width: 40%;
  height: 40%;
}

.div2 {
  width: 33%;
  height: 100px;

}

.div3 {
  width: 33%;
  height: 100px;

}

.div1,.div2,.div3 {
  border-radius: 25px;
  border: 2px solid #030303;
  padding: 20px;

}

.image-container {
  width: 50%;
  height: auto;
  margin-right: 20px;
}

.text-container {
  width: 50%;
  height: auto;
}

.footer{
  background-color: #21263f;
}


/* last 3 links in dropdown */
.links{
  margin-left: 2%;
}